<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Chage Password</h2>
                    <form [formGroup]="updateForm" (ngSubmit)="UpdatePass()">
                        <input type="email" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && formError.email.errors }" />
                        <input type="password" formControlName="password"  placeholder="Password" [ngClass]="{ 'is-invalid': submitted && formError.password.errors }"  />
                        &nbsp;&nbsp;
                        <button type="submit" class="btn btn-sm btn-dark">Update</button>
                    </form>
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section>