*{
    box-sizing: border-box;;
}

body {
    font-family: "Avenir Next";
    display: block;
   
}


li{
    list-style: none;
}

.header{
    background-color: #26d0c9;
    height: 110px;
    /* position: fixed; */
    width: 100%;
}

.header-logo{
    float: left;
    font-size: 36px;
    padding: 40px 40px;
}

.header-list{
    float: right;
    font-size: 20px;
    padding: 2px 20px;
}

.header-list a{
    float: left;
    padding: 33px 20px;
    color: black;
}

.header-list a:hover {
    color: #16181a;

    text-decoration-color: black;
    transition: all 0.5s ease-in-out;
  }
  
.main{
    padding: 100px 80px;
}
