<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="dashboard/product-list">Products</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="dashboard/profile">Profile</a>
          </li> -->
        </ul>
         <a class="nav-link" type="button" (click)="Logout()">Logout</a>
      </div>
    </div>
</nav>
<!-- <div class="header">
    <div class="header-logo">
        Enigma
    </div>
    <div class=" header-list">
        <ul>
            <a type="button" (click)="Logout()">Logout</a>
            <a type="button" (click)="Profile()">Profile</a>
            <a type="button" (click)="Products()">Products</a>
        </ul>
    </div>
</div> -->
